<!-- ...::: Start Breadcrumb Section :::... -->
<div class="breadcrumb-section section-bg overflow-hidden pos-relative">
    <div class="breadcrumb-shape-top-left"></div>
    <div class="breadcrumb-shape-bottom-right"></div>
    <div class="breadcrumb-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="title">About Me</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Breadcrumb Section :::... -->

<!-- ...::: Start Vider Info Display Section :::... -->
<div class="video-info-display-section section-gap-tb-165">
    <div class="video-info-display-box">
        <div class="container">
            <div class="video-info-display-wrapper">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-8 col-10 offset-1 offset-sm-2 offset-md-3 offset-lg-0">
                        <div class="video-card">
                            <img src="../../assets/images/portrait/{{constants.MY_ABOUT_ME_IMAGE}}" style="height: -webkit-fill-available;" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-8 offset-md-2 offset-lg-0 offset-xl-1">
                        <div class="video-info-content">
                            <h2 class="title">I’m {{constants.MY_FIRST_NAME}} {{constants.MY_LAST_NAME}}</h2>

                            <h3 class="sub-title">
                                {{constants.MY_TITLE}}
                            </h3>

                            <p>I am originally from Serbia <a href="https://www.google.com/search?q=Serbia" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Flag_of_Serbia.svg" alt="Serbian Flag" width="20px"></a>, although, I currently reside and work in the United States. I am a passionate Software Engineer with a deep love for full-stack development and 
                                a knack for solving complex problems. My career in the tech industry has been driven by my enthusiasm for tackling 
                                challenging tasks and finding innovative solutions. I am currently employed by <a href="https://www.redsailtechnologies.com/" target="_blank" style="text-decoration: underline;">RedSail Technologies</a> 
                                (<a href="https://www.pioneerrx.com/" target="_blank" style="text-decoration: underline;">PioneerRx</a>) as a Software Development Team Lead, helping build  most clinically advanced and financially sustainable pharmacy network in the United States.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Vider Info Display Section :::... -->

<!-- ...::: Start Resume Info Display Section :::... -->
<div class="resume-info-display-section  section-gap-tb-165 section-bg">
    <div class="resume-info-display-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="resume-tab nav">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#experience-tab">Experience</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#education-tab">Education</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="resume-info-display-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="experience-tab" role="tabpanel">
                                <ul class="resume-list">
                                    <!-- Start Resume Tab List Single Item -->
                                    <li *ngFor="let experience of constants.EXPERIENCES" class="resume-tab-list-single-item">
                                        <div class="content">
                                            <div class="left">
                                                <span class="year">{{experience.ExperienceDate}}</span>
                                            </div>
                                            <div class="right">
                                                <h3 class="title">{{experience.ExperienceName}}</h3>
                                                <span class="institute-name"><a href="{{experience.ExperienceLink}}" target="_blank" style="text-decoration: underline;">{{experience.ExperienceCompany}}</a></span>
                                                <p>{{experience.ExperienceDesc}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Resume Tab List Single Item -->
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="education-tab" role="tabpanel">
                                <ul class="resume-list">
                                    <!-- Start Resume Tab List Single Item -->
                                    <li *ngFor="let education of constants.EDUCATIONS" class="resume-tab-list-single-item">
                                        <div class="content">
                                            <div class="left">
                                                <span class="year">{{education.EducationDate}}</span>
                                            </div>
                                            <div class="right">
                                                <h3 class="title">{{education.EducationName}} </h3>
                                                <span class="institute-name"><a href="{{education.EducationLink}}" target="_blank" style="text-decoration: underline;">{{education.EducationUniversity}}</a></span>
                                                <p>{{education.EducationDesc}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Resume Tab List Single Item -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Resume Info Display Section :::... -->

<!-- ...::: Start Counter Display Section :::... -->
<div class="counter-display-section section-gap-tb-165 section-bg-2">
    <div class="counter-display-wrapper">
        <div class="container">
            <div class="row justify-content-center justify-content-sm-start">
                <div *ngFor="let statistic of constants.STATISTICS" class="d-block d-md-flex justify-content-md-end col-12 col-sm-4 col-md-4">
                    <!-- Start Counterup Single Item -->
                    <div class="counterup-single-item">
                        <div class="icon">
                            <img src="assets/images/icon/{{statistic.StatisticIcon}}" alt="">
                        </div>
                        <div class="content">
                            <h2 class="number"><span class="counter">{{statistic.Statistic}}</span>{{statistic.StatisticSymbol}}</h2>
                            <span class="text">{{statistic.StatisticName}}</span>
                        </div>
                    </div>
                    <!-- End Counterup Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Counter Display Section :::... -->

<!-- ...::: Start Company Logo Display Section :::... -->
<div class="company-logo-display section-gap-tb-165">
    <div class="company-logo-display-box">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Start Section Content -->
                    <div class="section-content pos-relative">
                        <span class="section-tag">Hobbies</span>
                        <h2 class="section-title">My Hobbies</h2>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>

            <div class="company-logo-display-wrapper">
                <div class="row">
                    <div class="col">
                        <div class="company-logo-display-slider">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <div *ngFor="let hobby of constants.HOBBIES" class="company-logo-single-item swiper-slide">
                                        <div class="image">
                                            <h4>{{hobby.HobbyName}}</h4>
                                            <div class="icon" style="
                                            font-size: 60px;
                                            width: 142px;
                                            height: 142px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            color: #fff;">
                                            <i class="{{hobby.HobbyIcon}}"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Company Logo Display Section :::... -->