<!-- ...::: Start Breadcrumb Section :::... -->
<div class="breadcrumb-section section-bg overflow-hidden pos-relative">
    <div class="breadcrumb-shape-top-left"></div>
    <div class="breadcrumb-shape-bottom-right"></div>
    <div class="breadcrumb-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="title">Projects</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Breadcrumb Section :::... -->

<!-- .....:::::: Start Project Section :::::.... -->
<div class="project-section section-gap-tb-165">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="projects-gallery-filter-nav">
                    <button class="btn btn-outline-secondary active" data-filter="*">All</button>
                    <button class="btn btn-outline-secondary" data-filter=".web">Web</button>
                    <button class="btn btn-outline-secondary" data-filter=".mobile">Mobile</button>
                    <button class="btn btn-outline-secondary" data-filter=".talks">Talks</button>
                    <button class="btn btn-outline-secondary" data-filter=".research">Research</button>
                    <button class="btn btn-outline-secondary" data-filter=".course">Courses</button>
                    <button class="btn btn-outline-secondary" data-filter=".ai">AI</button>
                    <button class="btn btn-outline-secondary" data-filter=".other">Other</button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="projects-wrapper-gallery-content">
                    <div class="row">
                        <div *ngFor="let project of constants.PROJECTS" class="col-md-6 filter-item {{project.ProjectCategory}}">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/{{project.ProjectImage}}" alt="">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/project/{{project.ProjectImage}}" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/project/{{project.ProjectId}}">{{project.ProjectName}} <i class="icofont-external-link" style="font-size: 12px;"></i></a></h4>
                                    <span style="float: right;"><i>{{project.ProjectDate}}</i></span>

                                    <ul class="catagory-nav-item">
                                        <li *ngFor="let reference of project.ProjectReferences">
                                            <a *ngIf="reference.ProjectReferenceLink; else noLink"
                                            [href]="reference.ProjectReferenceLink"
                                            target="_blank">
                                            {{ reference.ProjectReferenceName }}
                                            </a>
                                            <ng-template #noLink>
                                            <a (click)="$event.preventDefault()">{{ reference.ProjectReferenceName || 'Unnamed Reference' }}</a>
                                            </ng-template>
                                          </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- .....:::::: End Project Section :::::.... -->