<!-- ...::: Start Hero Section :::... -->
<div class="hero-section section-dark-blue-bg">
    <div class="hero-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xxl-7">
                    <div class="hero-content">
                        <h3 class="title-big">Hello! I’m</h3>
                        <h2 class="title-large">Srđan <span class="shape-mark">Ristić</span></h2>
                        <p>Software Engineer</p>

                        <a href="assets/files/Srdan_Ristic_Resume.pdf" target="_blank" class="btn btn-xl btn-outline-one icon-space-left">My Resume <i class="icofont-download"></i></a>

                        <div class="video-link">
                            <a class="wave-btn" href="https://youtu.be/MKjhBO2xQzg" data-autoplay="true" data-vbtype="video">

                                <div class="ripple"><i class="icofont-ui-play"></i></div>
                            </a>

                            <span class="video-text"> Watch Video</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="hero-shape hero-top-shape">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="hero-shape hero-bottom-shape">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="hero-portrait">
            <div class="image">
                <img class="img-fluid" src="assets/images/portrait/portrait-hero.png" alt="">

                <div class="image-half-round-shape"></div>
                <div class="social-link">
                    <a href="https://www.linkedin.com/in/srdan-ristic/" target="_blank"><i class="icofont-linkedin"></i></a>
                    <a href="https://stackoverflow.com/users/2687059/srdan-ristic" target="_blank"><i class="icofont-stack-overflow"></i></a>
                    <a href="https://github.com/ristics18" target="_blank"><i class="icofont-github"></i></a>
                    <a href="https://www.facebook.com/srdjan.ristic.surge/" target="_blank"><i class="icofont-facebook"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ...::: End Hero Section :::... -->

<!-- ...::: Start Service Display Section :::... -->
<div class="service-display-section section-gap-tb-165 pos-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Content -->
                <div class="section-content">
                    <span class="section-tag">Skills</span>
                    <h2 class="section-title">Skills Overview</h2>
                </div>
                <!-- End Section Content -->
            </div>
        </div>
    </div>

    <!-- Start Service Section Wrapper -->
    <div class="service-display-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="service-display-slider">
                        <!-- Slider main container -->
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <!-- Start Service Box Single Item -->
                                <div class="service-box-single-item swiper-slide">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <div class="icon"><img src="assets/images/icon/service-icon-2.png" alt=""></div>
                                    <h4 class="title"><a href="service-details.html">Frontend</a></h4>
                                    <ul class="list-item">
                                        <li>HTML/CSS</li>
                                        <li>Bootstrap</li>
                                        <li>Angular</li>
                                        <li>Javascript/Typescript</li>
                                        <li>Security</li>
                                    </ul>
                                    <div class="inner-shape inner-shape-bottom-right"></div>
                                </div>
                                <!-- End Service Box Single Item -->
                                <!-- Start Service Box Single Item -->
                                <div class="service-box-single-item swiper-slide">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <div class="icon"><img src="assets/images/icon/service-icon-1.png" alt=""></div>
                                    <h4 class="title"><a href="service-details.html">Backend</a></h4>
                                    <ul class="list-item">
                                        <li>C#</li>
                                        <li>ASP.NET</li>
                                        <li>Java</li>
                                        <li>NodeJS</li>
                                        <li>SQL/PostgreSQL</li>
                                    </ul>
                                    <div class="inner-shape inner-shape-bottom-right"></div>
                                </div>
                                <!-- End Service Box Single Item -->
                                <!-- Start Service Box Single Item -->
                                <div class="service-box-single-item swiper-slide">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <div class="icon"><img src="assets/images/icon/service-icon-4.png" alt=""></div>
                                    <h4 class="title"><a href="service-details.html">Cloud</a></h4>
                                    <ul class="list-item">
                                        <li>Azure/AWS</li>
                                        <li>Docker/Kubernetes</li>
                                        <li>Azure Service Bus</li>
                                        <li>Architecture</li>
                                        <li>Security</li>
                                    </ul>
                                    <div class="inner-shape inner-shape-bottom-right"></div>
                                </div>
                                <!-- End Service Box Single Item -->
                                <!-- Start Service Box Single Item -->
                                <div class="service-box-single-item swiper-slide">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <div class="icon"><img src="assets/images/icon/service-icon-5.png" alt=""></div>
                                    <h4 class="title"><a href="service-details.html">DevOps</a></h4>
                                    <ul class="list-item">
                                        <li>Git/TFS</li>
                                        <li>CI/CD</li>
                                        <li>PowerShell</li>
                                        <li>Agents</li>
                                        <li>Security</li>
                                    </ul>
                                    <div class="inner-shape inner-shape-bottom-right"></div>
                                </div>
                                <!-- End Service Box Single Item -->
                                <!-- Start Service Box Single Item -->
                                <div class="service-box-single-item swiper-slide">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <div class="icon"><img src="assets/images/icon/service-icon-3.png" alt=""></div>
                                    <h4 class="title"><a href="service-details.html">Leadership</a></h4>
                                    <ul class="list-item">
                                        <li>Team Lead</li>
                                        <li>Project Manager</li>
                                        <li>Product Delivery</li>
                                        <li>Team Collaboration</li>
                                        <li>Agile/Kanban</li>
                                    </ul>
                                    <div class="inner-shape inner-shape-bottom-right"></div>
                                </div>
                                <!-- End Service Box Single Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="service-display-dots">
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- End Service Section Wrapper -->
</div>
<!-- ...::: End Service Display Section :::... -->

<!-- ...::: Start Testimonial Display Section :::... -->
<div class="testimonial-display-section section-gap-tb-165 section-bg">
    <div class="testimonial-display-box d-flex flex-column align-items-center d-xl-block pos-relative">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-end">
                    <!-- Start Section Content -->
                    <div class="section-content pos-relative">
                        <span class="section-tag">Awards</span>
                        <h2 class="section-title">Recognized Awards</h2>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>

            <div class="testimonial-display-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-display-slider">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- Start testimonial Slider Single Item -->
                                    <div class="testimonial-slider-single-item swiper-slide">
                                        <div class="inner-shape inner-shape-top-right"></div>
                                        <div class="content">
                                            <span class="icon">“</span>
                                            <p class="text">Srđan is our 2024 Annual FORTE Award Winner. He falls in the category of the best of the best.</p>
                                            <div class="info">
                                                <div class="author">
                                                    <h4 class="name">RedSail Technologies</h4>
                                                    <span class="designation">Forward-Thinking Award</span>
                                                    <br/>
                                                    <br/>
                                                    <a href="https://drive.google.com/file/d/1SQNCkKuZrj_9SlUB9k7d62jzsbLuywVP/view?usp=sharing" target="_blank" style="text-decoration: underline;">See The Award</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End testimonial Slider Single Item -->
                                    <!-- Start testimonial Slider Single Item -->
                                    <div class="testimonial-slider-single-item swiper-slide">
                                        <div class="inner-shape inner-shape-top-right"></div>
                                        <div class="content">
                                            <span class="icon">“</span>
                                            <p class="text">University award presented to Srđan for outstanding academic achievements in Computer Systems Technology.</p>
                                            <div class="info">
                                                <div class="author">
                                                    <h4 class="name">LSU Shreveport</h4>
                                                    <span class="designation">Outstanding Student Award</span>
                                                    <br/>
                                                    <br/>
                                                    <a href="https://drive.google.com/file/d/1t7oczVsPBzQouz63hWJZfFhe97CrBVFp/view?usp=sharing" target="_blank" style="text-decoration: underline;">See The Award</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End testimonial Slider Single Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="default-nav-style mt-5 mt-xl-0">
            <!-- If we need navigation buttons -->
            <div class="slider-button button-prev"><i class="icofont-double-left"></i></div>
            <div class="slider-button button-next"><i class="icofont-double-right"></i></div>
        </div>
    </div>
</div>
<!-- ...::: End Testimonial Display Section :::... -->

<!-- ...::: Start Company Logo Display Section :::... -->
<div class="company-logo-display section-mt-165" style="padding-bottom: 100px;">
    <div class="company-logo-display-box">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Start Section Content -->
                    <div class="section-content pos-relative">
                        <span class="section-tag">Certifications</span>
                        <h2 class="section-title">Achieved Certifications</h2>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>

            <div class="company-logo-display-wrapper">
                <div class="row">
                    <div class="col">
                        <div class="company-logo-display-slider">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start Company Logo Slider Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a target="_blank" href="https://www.credly.com/badges/db97c9d0-8434-4342-b6cf-24f83768d1b7" class="image">
                                            <img src="assets/images/certifications/azure-fundamentals-cert.png" alt="">
                                            <img src="assets/images/certifications/azure-fundamentals-cert.png" alt="">
                                        </a>
                                    </div>
                                    <!-- End Company Logo Slider Single Item -->
                                    <!-- Start Company Logo Slider Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a target="_blank" href="https://www.credly.com/badges/c6050a5e-126c-4848-8f87-e3f4367f857d?source=linked_in_profile" class="image">
                                            <img src="assets/images/certifications/developer-associate-cert.png" alt="">
                                            <img src="assets/images/certifications/developer-associate-cert.png" alt="">
                                        </a>
                                    </div>
                                    <!-- End Company Logo Slider Single Item -->
                                    <!-- Start Company Logo Slider Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a target="_blank" href="https://www.credly.com/badges/712e83a4-69ef-48b6-853a-17f60e58bf54?source=linked_in_profile" class="image">
                                            <img src="assets/images/certifications/cloud-practitioner-cert.png" alt="">
                                            <img src="assets/images/certifications/cloud-practitioner-cert.png" alt="">
                                        </a>
                                    </div>
                                    <!-- End Company Logo Slider Single Item -->
                                    <!-- Start Company Logo Slider Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a target="_blank" href="https://www.credly.com/badges/8ba16afe-0be6-42dc-bc8e-60441ea37c97/linked_in_profile" class="image">
                                            <img src="assets/images/certifications/microsoft-cert.png" alt="">
                                            <img src="assets/images/certifications/microsoft-cert.png" alt="">
                                        </a>
                                    </div>
                                    <!-- End Company Logo Slider Single Item -->
                                    <!-- Start Company Logo Slider Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a target="_blank" href="https://www.credly.com/badges/b0610484-16e7-43c4-af31-851ebfc2c002/linked_in_profile" class="image">
                                            <img src="assets/images/certifications/oracle-cert.png" alt="">
                                            <img src="assets/images/certifications/oracle-cert.png" alt="">
                                        </a>
                                    </div>
                                    <!-- End Company Logo Slider Single Item -->
                                    <!-- Start Company Logo Slider Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a target="_blank" href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6117539/" class="image">
                                            <img src="assets/images/certifications/medical-publication.png" alt="">
                                            <img src="assets/images/certifications/medical-publication.png" alt="">
                                        </a>
                                    </div>
                                    <!-- End Company Logo Slider Single Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Company Logo Display Section :::... -->