    <!-- ...::: Start Footer Section :::... -->
    <footer class="footer-section section-bg overflow-hidden pos-relative">
        <div class="footer-inner-shape-top-left"></div>
        <div class="footer-inner-shape-top-right"></div>
        <div class="footer-center section-gap-tb-165">
            <div class="section-content pos-relative text-center">
                <span class="section-tag">Get In Touch</span>
                <h2 class="section-title">Let's Connect!</h2>
            </div>
            <div class="container">
                <div class="row justify-content-between align-items-center mb-n5">
                    <div class="col-auto mb-5">
                        <!-- Start Single Footer Info -->
                        <div class="footer-single-info">
                            <a href="tel:+13189441294" class="info-box">
                                <span class="icon"><i class="icofont-phone"></i></span>
                                <span class="text">+1 318-944-1294</span>
                            </a>
                        </div>
                        <!-- Start Single Footer Info -->
                    </div>
                    <div class="col-auto mb-5">
                        <!-- Start Single Footer Info -->
                        <div class="footer-single-info">
                            <a href="mailto:srdanristic2@gmail.com" class="info-box">
                                <span class="icon"><i class="icofont-envelope-open"></i></span>
                                <span class="text">srdanristic2&#64;gmail.com</span>
                            </a>
                        </div>
                        <!-- Start Single Footer Info -->
                    </div>
                    <div class="col-auto mb-5">
                        <!-- Start Single Footer Info -->
                        <div class="footer-single-info">
                            <ul class="social-link">
                                <li><a href="https://www.linkedin.com/in/srdan-ristic/" target="_blank"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/srdjan.ristic.surge/" target="_blank"><i class="icofont-facebook"></i></a></li>
                            </ul>
                        </div>
                        <!-- Start Single Footer Info -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-center justify-content-md-between align-items-center flex-column-reverse flex-md-row">
                    <div class="col-auto">
                        <div class="footer-copyright">
                            <p class="copyright-text">{{COPYRIGHT}}</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="index.html" class="footer-logo">
                            <div class="logo">
                                <img src="assets/images/logo/logo.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ...::: End Footer Section :::... -->

    <!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>