<!-- ...::: Start Breadcrumb Section :::... -->
<div class="breadcrumb-section section-bg overflow-hidden pos-relative">
    <div class="breadcrumb-shape-top-left"></div>
    <div class="breadcrumb-shape-bottom-right"></div>
    <div class="breadcrumb-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="title">Projects</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Breadcrumb Section :::... -->

<!-- .....:::::: Start Project Section :::::.... -->
<div class="project-section section-gap-tb-165">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="projects-gallery-filter-nav">
                    <button class="btn btn-outline-secondary active" data-filter="*">All</button>
                    <button class="btn btn-outline-secondary" data-filter=".web">Web</button>
                    <button class="btn btn-outline-secondary" data-filter=".mobile">Mobile</button>
                    <button class="btn btn-outline-secondary" data-filter=".talk">Talks</button>
                    <button class="btn btn-outline-secondary" data-filter=".research">Research</button>
                    <button class="btn btn-outline-secondary" data-filter=".course">Courses</button>
                    <button class="btn btn-outline-secondary" data-filter=".other">Other</button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="projects-wrapper-gallery-content">
                    <div class="row">
                        <div class="col-md-6 filter-item other">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/work.png" alt="">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/project/work.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">Pharmacy Management Software</a></h4>
                                    <span style="float: right;"><i>In Progress</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://www.redsailtechnologies.com/" target="_blank">RedSail Technologies</a></li>
                                        <li><a href="https://www.pioneerrx.com/" target="_blank">PioneerRx</a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item talk">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/metTalks.png" alt="">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/project/metTalks.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">MetTalks</a></h4>
                                    <span style="float: right;"><i>2021</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://www.metropolitan.ac.rs/en/home/" target="_blank">Univerzitet Metropolitan</a></li>
                                        <li><a href="javascript:void(0);">Guest Speaker</a></li>
                                        <li><a href="javascript:void(0);">Studying Abroad</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item web">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/soccer-notifier.png" alt="">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/project/soccer-notifier.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">Soccer Notifier</a></h4>
                                    <span style="float: right;"><i>2021</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://soccernotifier.s3.us-east-1.amazonaws.com/index.html" target="_blank">Live View</a></li>
                                        <li><a href="javascript:void(0);">Shreveport Indoor Soccer</a></li>
                                        <li><a href="javascript:void(0);">Non Profit</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item mobile">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/word-sym.png" alt="">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/project/word-sym.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">WordSym - iOS App</a></h4>
                                    <span style="float: right;"><i>2020</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="javascript:void(0);">Word Synonyms</a></li>
                                        <li><a href="javascript:void(0);">English Practice</a></li>
                                        <li><a href="javascript:void(0);">Non Profit</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item course">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/udemyThumbnail.png" alt="">
                                    </div>
                                    <div class="image" style="top: 17%">
                                        <video _ngcontent-c4="" controls="" id="projectVid" poster="../../assets/images/project/udemyThumbnail.png" style="width: 100%; height: 100%;"><source _ngcontent-c4="" type="video/mp4" src="../../assets/images/project/udemyCourse.mp4"> Your browser does not support the video tag. </video>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">Oracle CA Java SE 8 Practice Exams</a></h4>
                                    <span style="float: right;"><i>2019</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://www.udemy.com/oracle-certified-associate-java-se-8-practice-exams/" target="_blank">Udemy Course</a></li>
                                        <li><a href="javascript:void(0);">Java Certification</a></li>
                                        <li><a href="javascript:void(0);">Practice Exams</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item web">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/portfolio-new.png" alt="">
                                    </div>
                                    <div class="image" style="top: 15%">
                                        <img src="../../assets/images/project/portfolio-new.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">Srđan Ristić Portfolio</a></h4>
                                    <span style="float: right;"><i>2018-Present</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="/">Live View</a></li>
                                        <li><a href="javascript:void(0);">Website</a></li>
                                        <li><a href="javascript:void(0);">Software Engineer</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item web">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/advisorsTool.png" alt="">
                                    </div>
                                    <div class="image" style="top: 20%">
                                        <img src="../../assets/images/project/advisorsTool.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">LSUS Advisor's Tool</a></h4>
                                    <span style="float: right;"><i>2017</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://sun.cs.lsus.edu/advisors-tool/index.php" target="_blank">Live View</a></li>
                                        <li><a href="https://www.lsus.edu/" target="_blank">LSUS</a></li>
                                        <li><a href="javascript:void(0);">Advising</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item web">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/education-tool.png" alt="">
                                    </div>
                                    <div class="image" style="top: 17%">
                                        <img src="../../assets/images/project/education-tool.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">LSU Health Edication Tool</a></h4>
                                    <span style="float: right;"><i>2017</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://www.lsuhs.edu/" target="_blank">LSU Health</a></li>
                                        <li><a href="javascript:void(0);">Teaching</a></li>
                                        <li><a href="javascript:void(0);">Education</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item research">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/labi.png" alt="">
                                    </div>
                                    <div class="image" style="top: 15%">
                                        <img src="../../assets/images/project/labi.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">LABi</a></h4>
                                    <span style="float: right;"><i>2017</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="http://www.labi.lsus.edu/" target="_blank">Live View</a></li>
                                        <li><a href="https://www.lsus.edu/" target="_blank">LSUS</a></li>
                                        <li><a href="javascript:void(0);">Research</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item mobile">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/orbit.png" alt="">
                                    </div>
                                    <div class="image" style="top: 20%">
                                        <img src="../../assets/images/project/orbit.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">Orbit</a></h4>
                                    <span style="float: right;"><i>2017</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://www.lsus.edu/" target="_blank">LSUS</a></li>
                                        <li><a href="javascript:void(0);">Capstone Project</a></li>
                                        <li><a href="javascript:void(0);">Mobile App</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item research">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/highAltitudeSEO.png" alt="">
                                    </div>
                                    <div class="image" style="top: 18%">
                                        <img src="../../assets/images/project/highAltitudeSEO.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">Solar Eclipse Observer Payload</a></h4>
                                    <span style="float: right;"><i>2017</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="https://www.lsus.edu/" target="_blank">LSUS</a></li>
                                        <li><a href="https://www.nasa.gov/" target="_blank">NASA</a></li>
                                        <li><a href="javascript:void(0);">Research</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                        <div class="col-md-6 filter-item research">
                            <!-- Start Project Box Single Item -->
                            <div class="project-box-single-item">
                                <div class="img-box">
                                    <div class="bg-overlay"></div>
                                    <div class="bg-image">
                                        <img src="../../assets/images/project/capstone-project.png" alt="">
                                    </div>
                                    <div class="image" style="top: 13%">
                                        <img src="../../assets/images/project/capstone-project.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="project-details.html">Twitter Data Collecting</a></h4>
                                    <span style="float: right;"><i>2016</i></span>

                                    <ul class="catagory-nav-item">
                                        <li><a href="javascript:void(0);">Capstone Project</a></li>
                                        <li><a href="https://developer.x.com/en/docs/tutorials/stream-tweets-in-real-time" target="_blank">Twitter API</a></li>
                                        <li><a href="https://www.olympics.com/en/olympic-games/rio-2016" target="_blank">Olympics 2016</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Project Box Single Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- .....:::::: End Project Section :::::.... -->