<!-- ...::: Start Hero Section :::... -->
<div class="hero-section section-dark-blue-bg">
    <div class="hero-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xxl-7">
                    <div class="hero-content">
                        <h3 class="title-big">Hello! I’m</h3>
                        <h2 class="title-large">{{constants.MY_FIRST_NAME}} <span class="shape-mark">{{constants.MY_LAST_NAME}}</span></h2>
                        <p>{{constants.MY_TITLE}}</p>

                        <a href="assets/files/{{constants.MY_RESUME}}" target="_blank" class="btn btn-xl btn-outline-one icon-space-left">My Resume <i class="icofont-download"></i></a>
                    
                        <div class="video-link">
                            <a class="wave-btn" href="/ai-assistant">
                                <div class="ripple"><i class="icofont-double-right"></i></div>
                            </a>
                            <span class="video-text"> {{constants.MY_FIRST_NAME}}'s AI Assistant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-shape hero-top-shape">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="hero-shape hero-bottom-shape">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="hero-portrait">
            <div class="image">
                <img class="img-fluid" src="assets/images/portrait/{{constants.MY_IMAGE}}" alt="">

                <div class="image-half-round-shape"></div>
                <div class="social-link">
                    <a href="{{constants.MY_LINKEDIN}}" target="_blank"><i class="icofont-linkedin"></i></a>
                    <a href="{{constants.MY_STACKOVERFLOW}}" target="_blank"><i class="icofont-stack-overflow"></i></a>
                    <a href="{{constants.MY_GITHUB}}" target="_blank"><i class="icofont-github"></i></a>
                    <a href="{{constants.MY_FACEBOOK}}" target="_blank"><i class="icofont-facebook"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ...::: End Hero Section :::... -->

<!-- ...::: Start Service Display Section :::... -->
<div class="service-display-section section-gap-tb-165 pos-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Content -->
                <div class="section-content">
                    <span class="section-tag">Skills</span>
                    <h2 class="section-title">Skills Overview</h2>
                </div>
                <!-- End Section Content -->
            </div>
        </div>
    </div>

    <!-- Start Service Section Wrapper -->
    <div class="service-display-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="service-display-slider">
                        <!-- Slider main container -->
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <!-- Start Service Box Single Item -->
                                <div *ngFor="let skill of constants.SKILLS" class="service-box-single-item swiper-slide">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <div class="icon"><img src="assets/images/icon/{{skill.skillImage}}" alt=""></div>
                                    <h4 class="title"><span>{{skill.skillTitle}}</span></h4>
                                    <ul *ngFor="let techSkill of skill.skills" class="list-item">
                                        <li>{{techSkill.skillName}}</li>
                                    </ul>
                                    <div class="inner-shape inner-shape-bottom-right"></div>
                                </div>
                                <!-- End Service Box Single Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="service-display-dots">
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- End Service Section Wrapper -->
</div>
<!-- ...::: End Service Display Section :::... -->

<!-- ...::: Start Testimonial Display Section :::... -->
<div class="testimonial-display-section section-gap-tb-165 section-bg">
    <div class="testimonial-display-box d-flex flex-column align-items-center d-xl-block pos-relative">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-end">
                    <!-- Start Section Content -->
                    <div class="section-content pos-relative">
                        <span class="section-tag">Awards</span>
                        <h2 class="section-title">Recognized Awards</h2>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>

            <div class="testimonial-display-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-display-slider">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- Start testimonial Slider Single Item -->
                                    <div *ngFor="let award of constants.AWARDS" class="testimonial-slider-single-item swiper-slide">
                                        <div class="inner-shape inner-shape-top-right"></div>
                                        <div class="content">
                                            <span class="icon">“</span>
                                            <p class="text">{{award.AwardDesc}}</p>
                                            <div class="info">
                                                <div class="author">
                                                    <h4 class="name">{{award.AwardOrg}}</h4>
                                                    <span class="designation">{{award.AwardName}}</span>
                                                    <br/>
                                                    <br/>
                                                    <a href="{{award.AwardLink}}" target="_blank" style="text-decoration: underline;">See The Award</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End testimonial Slider Single Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="default-nav-style mt-5 mt-xl-0">
            <!-- If we need navigation buttons -->
            <div class="slider-button button-prev"><i class="icofont-double-left"></i></div>
            <div class="slider-button button-next"><i class="icofont-double-right"></i></div>
        </div>
    </div>
</div>
<!-- ...::: End Testimonial Display Section :::... -->

<!-- ...::: Start Company Logo Display Section :::... -->
<div class="company-logo-display section-mt-165" style="padding-bottom: 100px;">
    <div class="company-logo-display-box">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Start Section Content -->
                    <div class="section-content pos-relative">
                        <span class="section-tag">Certifications</span>
                        <h2 class="section-title">Achieved Certifications</h2>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>

            <div class="company-logo-display-wrapper">
                <div class="row">
                    <div class="col">
                        <div class="company-logo-display-slider">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start Company Logo Slider Single Item -->
                                    <div *ngFor="let certification of constants.CERTIFICATIONS" class="company-logo-single-item swiper-slide">
                                        <a target="_blank" href="{{certification.CertLink}}" class="image">
                                            <img src="assets/images/certifications/{{certification.CertImage}}" alt="">
                                            <img src="assets/images/certifications/{{certification.CertImage}}" alt="">
                                        </a>
                                    </div>
                                    <!-- End Company Logo Slider Single Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Company Logo Display Section :::... -->